<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="../../resources/static/css/bootstrap.css"
          th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" href="../../resources/static/css/style.css"
          th:href="@{/css/style.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css">

    <title>Players</title>
</head>

<body>
<header>
    <nav class="navbar navbar-dark bg-secondary navbar-expand-sm text-light p-1">
        <div class="container-fluid">
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a href="/" class="navbar-brand">
                <img src="../../resources/static/img/emoji-smile.svg"
                     th:src="@{/img/emoji-smile.svg}"
                     height="24" width="24" alt=":)"></a>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="teams.html"
                           th:href="@{/teams}">Teams</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="players.html"
                           th:href="@{/players}">Players</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <nav id="main-header"
         class="py-1 mb-3 navbar navbar-light bg-primary text-dark">
        <div class="container-fluid">
            <span class="navbar-brand text-uppercase">List of players</span>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="player.html"
                       th:href="@{/player}"
                       class="btn btn-secondary"
                       title="Add player">
                        <i class="bi bi-plus-square"></i>
                        <span class="d-none d-sm-inline">Add</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</header>


<section id="filter">
    <div class="container-fluid">
        <nav class="navbar navbar-expand-sm bg-light navbar-light justify-content-center">
            <form class="d-flex" th:action="@{/players/find}">
                <div class="row">
                    <div class="col">
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">Filter from:</div>
                            </div>

                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input id="hiddenStartDate" th:value="${startDate}" type="hidden">
                                    <input id="hiddenEndDate" th:value="${endDate}" type="hidden">

                                    <input type="date" id="startDate"
                                           name="startDate" placeholder="Date"
                                           onchange="setFilterBegin();">
                                </div>
                            </div>

                            <div class="input-group-prepend">
                                <div class="input-group-text">to</div>
                            </div>

                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <input type="date" id="endDate"
                                           name="endDate" placeholder="Date"
                                           onchange="setFilterEnd();">
                                </div>
                            </div>
                            <script>
                                var minD = document.getElementById('hiddenStartDate').value.split("/").reverse().join("-");
                                   document.getElementById('startDate').value = minD;
                                   document.getElementById('endDate').min = minD;
                                var maxD = document.getElementById('hiddenEndDate').value.split("/").reverse().join("-");
                                   document.getElementById('endDate').value = maxD;
                                   document.getElementById('startDate').max = maxD;


                            </script>
                            <button type="submit" class="btn btn-info mb-2">Show</button>
                        </div>
                    </div>
                </div>
            </form>
        </nav>
    </div>
</section>

<br>

<section id="players">
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="card">
                    <table class="table table-striped">
                        <thead class="table-secondary">
                        <tr>
                            <th class="text-uppercase">Name</th>
                            <th class="text-uppercase text-center">Surname</th>
                            <th class="text-center text-uppercase">Birthday</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr th:each="player : ${players}">
                            <td th:text="${player.firstName}">P1</td>
                            <td th:text="${player.surname}" class="text-center">2</td>
                            <td th:text="${player.birthday}" class="text-center">21/10/2001</td>
                            <td class="text-end">
                                <a href="player.html"
                                   th:href="@{|/player/${player.playerId}|}"
                                   class="btn-md btn-outline-secondary"
                                   title="Edit player">
                                    <i class="bi bi-pencil"></i>
                                    <span class="d-none d-md-inline">Edit</span></a>
                                <span data-bs-toggle="modal" data-bs-target="#deleteDialog"
                                      th:attr="data-id=${player.playerId},data-name=${player.firstName}">
                                <a href="#" class="btn-md btn-outline-secondary"
                                   title="delete player"><i class="bi bi-trash"></i>
                                    <span class="d-none d-md-inline">Delete</span>
                                </a>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <hr/>
    <p class="text-center">&copy; 2021</p>
</footer>

<!-- Confirm delete Modal -->
<div class="modal fade" id="deleteDialog" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <h5 class="modal-title" id="exampleModalLabel">Delete player</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Please confirm delete
            </div>
            <div class="modal-footer">
                <a href="players.html"
                   th:href="@{/players}" class="btn btn-secondary">No</a>
                <a id="deleteUrl" href="#" class="btn btn-danger">Yes</a>
            </div>
        </div>
    </div>
</div>

<script src="../../resources/static/js/bootstrap.bundle.min.js"
        th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="../../resources/static/js/jquery-3.4.1.slim.min.js"
        th:src="@{/js/jquery-3.4.1.slim.min.js}"></script>
<script>
    $('#deleteDialog').on('show.bs.modal', function (event) {
        var target = $(event.relatedTarget)
        $(this).find('.modal-body').text('Please confirm delete player: "' + target.data('name') + '"')
        document.getElementById('deleteUrl').href = '/player/' + target.data('id') + '/delete';
    })
</script>
</body>
</html>
